@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: Raleway;
  height: 100%;
  color: #3c3c3c;
  font-size: 16px;
  background-color: #ffffff;
}

.__ibg {
  position: relative;
}

.container {
  padding: 0 15px;
  max-width: 1358px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__title {
  font-weight: 700;
  font-size: 66.0162px;
  line-height: 118.9%;
  text-align: center;
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: 500;
  font-size: 31.4144px;
  line-height: 118.9%;
  text-transform: uppercase;
}

.header__title-block {
  background-color: #f4f6ef;
  -webkit-box-shadow: 0px 2.74884px 46.0431px rgba(57, 57, 57, 0.78);
          box-shadow: 0px 2.74884px 46.0431px rgba(57, 57, 57, 0.78);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header__title-wrap {
  padding: 34px 0;
}

.header__main-img-block {
  padding: 136px 0 0;
  background-color: #6c735c;
}

.header__block-content {
  position: absolute;
  top: 30%;
  left: 44%;
  background: #ffffff;
  -webkit-box-shadow: 0px 3.12195px 43.7073px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.12195px 43.7073px rgba(0, 0, 0, 0.25);
  padding: 70px 36px;
}

.header__block-paragraph {
  font-weight: 400;
  font-size: 24.9756px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  max-width: 650px;
  font-family: "Ubuntu";
}

.header__block-svg {
  position: absolute;
  bottom: 77%;
  left: 3%;
}

.main__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content-paragraph {
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
  max-width: 540px;
  margin-bottom: 26px;
}

.main__title-block {
  background-color: #f4f6ef;
  -webkit-box-shadow: 0 2.74884px 46.0431px rgba(57, 57, 57, 0.78);
          box-shadow: 0 2.74884px 46.0431px rgba(57, 57, 57, 0.78);
  margin-bottom: 138px;
}

.main__wrap {
  padding: 24px 0;
}

.main__content-img-block {
  margin-right: 76px;
}

.main__content-img-block:nth-last-of-type(1) {
  margin-right: 0;
}

.main__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 158px;
}

.main__partners-img {
  padding: 40px;
  margin-bottom: 30px;
  background-color: #f4f6ef;
}

.main__partners-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 916px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title {
  font-weight: 700;
  font-size: 53px;
  line-height: 118.9%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}